@charset "utf-8";

div#bgColor{
	background: #F8F7F5;
	border: 1px solid #dedede;
}

div#mainImgBox{
	margin:  0px auto 40px;
	text-align: left;
  width: 100%;
	background: url(mainimg.jpg) no-repeat top right;
	min-height:381px;
	height: auto !important;
	height: 381px;
}

div#mainImgBox div#mainMessageBox{
	width: 277px;
	min-height:381px;
	height: auto !important;
	height: 381px;
	background: #fff;
}

div#mainImgBox div#mainMessageBox strong{
	font-weight: bold;
	font-size: 17px;
	display: block;
	padding: 90px 20px 10px;
}

div#mainImgBox div#mainMessageBox span{
	padding: 0 20px;
	display: block;
	line-height: 1.9;
}

div#mainContents{
	width: 900px;
	padding: 60px 30px 45px;
	margin: 0 auto;
	text-align: left;
	background: #fff;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

div#mainContents h2{
	background: #333;
	padding: 4px 0 4px 12px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.08em;
	margin-bottom: 15px;
}

div#mainContents strong{
	display: block;
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 14px;
}

div#mainContents strong,
div#mainContents span,
div#mainContents dl{
	margin-left: 10px;
	display: block;
}



div#conceptBox{
	width: 600px;
	float: left;
}

div#topicsBox{
	float: left;
	margin-top: 45px;
	width: 600px;
}

	div#topicsBox dl{
		width: 595px;
	}

	div#topicsBox dl dt,
	div#topicsBox dl dd{
		padding: 10px 0;
		border-bottom: 1px solid #ddd;
	}

	div#topicsBox dl dt{
		float:left;
		width:150px;
		clear:both;
		background: url(bg_boder.gif) repeat 0 0 ;
	}

	div#topicsBox dl dd {
		width:410px;
		margin-left:75px;
		padding-left: 10px;
	}

  div#topicsBox dl dd a{
		width: 350px;
		padding-left: 10px;
  }
div#outlineBox{
	width: 270px;
	float: right;
}

div#outlineBox dl{}
div#outlineBox dl dt{
	font-weight: bold;
	margin-bottom: 6px;
	font-size: 14px;
}
div#outlineBox dl dd{
	margin-bottom: 12px;
}
